* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Oswald', sans-serif !important;
    
  }
  
  p {
    margin: 0 !important;
  }
  
  
  .card {
  flex-direction: row !important;
  flex-wrap: wrap !important;
  }
  
  .card .card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px !important;
  }
  
  .card-text {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding-bottom: 1.5em;
  }
  
  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  }
  
  #pre-header {
  background-color: #F8AC39;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  align-content: center;
  font-family: 'Oswald', sans-serif;
  
  
  }
  
  #precio-total {
  padding-bottom: 10px;
  font-weight: 200;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding-left: 14px;
  text-align: center;
  }
  
  #precio-total p {
   padding-top: 5px;
   font-size: 20px;
   font-weight: 400;
  } 
  
  
  #cesta-carrito {
  border-radius: 50%;
  background-color: #000000;
  border: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  }
  
  nav {
  background-color: #F8AC39 !important;
  }
  
  .modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
  display: block !important;
  }
  
  #ordenar {
  
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  }
  
  .modal {
  background-color: rgba(255, 255, 255, 0.5) !important;
  max-height: 100% !important;
  }
  
  .container {
  margin-top: 300px !important;
  display: flex;
  justify-content: space-between;
  
  }
  
  .pagoConfirmado {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  margin-top: 200px !important;
  }
  
  .mensajePago {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .mensajePago #text_01 {
  font-weight: 200;
  font-size: 20px;
  }
  
  .mensajePago #text_00 {
  font-size: 30px;
  color: #F8AC39;
  }
  
  
  .mensajePago #text_02 {
  font-weight: 200;
  }
  
  .material-icons {
  color: #F8AC39; 
  
  }
  
  .divPago {
  width: 45%;
  }
  
  
  
  .divProductosCarrito img {
  width: 50px;
  
  }
  
  .divBut button {
  background-color: #ffffff;
  border: 0;
  
  
  }
  
  .divBut button i {
  color: #dc3545;  
  
  }
  
  .contenedorCarrito {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: #aaa6a6 solid 1px;
  padding-top: 10px;
  align-items: center;
  }
  
  .botones-modal {
  display: flex;
  justify-content: space-between;
  }
  
  #footer {
  background-color: #F8AC39;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  }
  
  #redes {
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  
  }
  
  .btnEnviar {
  margin-top: 10px;
  }
  
  
  .compra {
  background-color: rgba(255, 255, 255, 0.95) !important;
  padding: 80px !important;
  margin-top: 100px !important;
  }
  
  #redes img {
  width: 30px;
  margin: 5px;
  }
  
  #vaciar-carrito {
  display: flex;
  align-items: center;
  }
  
  #comprar-carrito {
  display: flex;
  align-items: center;
  border: #000000;
  }
  
  a {
  color: #ffffff;
  text-decoration: none !important;
  }
  
  .divProductosCompra {
  width: 50%;
  }
  
  .divProductosCompra p {
  font-weight: 200;
  }
  
  
  
  @media screen and (max-width: 600px) {
  .divPago {
    width: 100%;
  }
  
  .divProductosCompra {
    width: 100%;
  }
  }
  
  
  /* SWEETALERT  */
  
  .swal2-styled.swal2-confirm {
  background-color: #F8AC39 !important;
  }