/* GRAL CSS RESET */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
body header {
    background-color: white;
    /* NAVIGATION */
  }
  body header .navbar-light {
    outline: none;
    color: orange;
    background-color: orange;
    /* Mobile - toggler */
  }
  body header .navbar-light .collapse .navbar-nav .nav-item .active {
    color: orange;
    text-shadow: 0 1.5em 50px;
  }
  body header .navbar-light .collapse .navbar-nav .nav-item .active:hover {
    color: orange;
    text-shadow: 0 1.5em 50px;
  }
  body header .navbar-light .collapse .navbar-nav .nav-item .nav-link {
    padding: 0 20px;
    transition: 0.3 ease;
  }
  body header .navbar-light .collapse .navbar-nav .nav-item .nav-link:hover {
    color: orange;
    text-shadow: 0 1.5em 50px;
  }
  body header .navbar-light .navbar-toggler {
    outline: none;
  }
  body header .navbar-light .navbar-toggler:hover {
    border: none;
    outline: none;
    background-color: orange;
  }
  @media only screen and (max-width: 991px) {
    body header .navbar-light #navbarNav {
      margin: 1em;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  }
  body header .navbar {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 600;
    color: orange;
  }


/* BOTONES CSS */

    #btnBienvenida {
        color: white;
        background-color: brown;
    };

        #btnBienvenida:hover {
            background-color: green;

        };